:root {
  --var-primary: #7149f5;
  --var-foreground: #ffffff;
  --var-background: #16161d;
  --var-accent: #333333;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid var(--var-accent);
  width: 100%;
}

a {
  color: var(--var-primary);
}

@media (max-width: 80em) {
  hr {
    margin-top: 2rem;
  }
}

h1.caret:before {
  content: "> ";
}

h2.flag:before {
  content: "--";
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: var(--var-foreground);
  background: var(--var-background);
}

#face {
  background: url("face.jpg") no-repeat top center;
  min-height: 100vh;
}

@media (max-width: 64em) {
  #face {
    background-position: left top;
    background-size: cover;
    height: 600px;
    min-height: auto;
    max-height: 50vh;
  }
}

#content {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 0;
  min-height: 100vh;
  justify-content: space-between;
}

#content .grid {
  align-items: center;
}

#content h2,
#content p {
  margin: 2rem 0;
}

#content p {
  padding: 0 0.5rem;
}

@media (max-width: 80em) {
  #content h2 {
    margin: 1rem 0;
  }
  #content p {
    margin: 0;
  }
}

#links ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#links ul li {
  background: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: 50%;
  margin: 0;
  list-style-type: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#links a img {
  padding: 2rem;
  height: 125px;
}

#employer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: var(--var-accent);
}

.employer-logo {
  max-width: 250px;
}
